body {
  padding-left: 520px;
    padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
    max-width: 1000px

    
}
.btn {
    max-width: 1000px;
    margin-top: 10px;
    max-height: 40px;
}


